/dts-v1/;

#include <nordic/nrf52840_qiaa.dtsi>
#include <zephyr/dt-bindings/adc/nrf-saadc.h>
#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/led/led.h>
#include <zephyr/dt-bindings/mipi_dbi/mipi_dbi.h>
#include "ai_ble_keyboard-pinctrl.dtsi"

/ {
	model = "AI BLE Keyboard";
	compatible = "me,ai-ble-keyboard";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
		zephyr,display = &st7789v;
	};

	aliases {
		led-strip = &led_strip;
	};

	zephyr,user {
		io-channels = <&adc 7>;
	};

	kbd_matrix: keyboard-matrix {
		compatible = "gpio-kbd-matrix";
		row-gpios = <&gpio0 15 GPIO_ACTIVE_LOW>,
			    <&gpio0 7 GPIO_ACTIVE_LOW>,
			    <&gpio0 12 GPIO_ACTIVE_LOW>,
			    <&gpio0 4 GPIO_ACTIVE_LOW>,
			    <&gpio1 9 GPIO_ACTIVE_LOW>,
			    <&gpio0 8 GPIO_ACTIVE_LOW>;
		col-gpios = <&gpio0 5 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
			    <&gpio0 6 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
			    <&gpio0 26 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
			    <&gpio0 30 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
	};

	board_controls: board-controls {
		compatible = "me,ai-ble-keyboard-controls";
		mode-gpios = <&gpio0 29 (GPIO_PULL_UP | GPIO_ACTIVE_HIGH)>;
		encoder-a-gpios = <&gpio0 10 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		encoder-b-gpios = <&gpio1 6 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		battery-adc-enable-gpios = <&gpio1 4 GPIO_ACTIVE_HIGH>;
		rgb-power-enable-gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
		ip5306-wakeup-gpios = <&gpio0 22 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
		screen-bl-gpios = <&gpio1 11 GPIO_ACTIVE_LOW>;
	};
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 DT_SIZE_K(48)>;
		};

		slot0_partition: partition@c000 {
			label = "image-0";
			reg = <0x0000c000 DT_SIZE_K(472)>;
		};

		slot1_partition: partition@82000 {
			label = "image-1";
			reg = <0x00082000 DT_SIZE_K(472)>;
		};

		storage_partition: partition@f8000 {
			label = "storage";
			reg = <0x000f8000 DT_SIZE_K(32)>;
		};
	};
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&uicr {
	nfct-pins-as-gpios;
};

&usbd {
	status = "okay";
};

&adc {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	channel@7 {
		reg = <7>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive = <NRF_SAADC_AIN7>;
		zephyr,resolution = <12>;
	};
};

&i2c0 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";
	clock-frequency = <I2C_BITRATE_STANDARD>;
};

&spi1 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	pinctrl-0 = <&spi1_default>;
	pinctrl-1 = <&spi1_sleep>;
	pinctrl-names = "default", "sleep";
	cs-gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;
};

/ {
	mipi_dbi_screen {
		compatible = "zephyr,mipi-dbi-spi";
		spi-dev = <&spi1>;
		dc-gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio1 10 GPIO_ACTIVE_LOW>;
		write-only;
		#address-cells = <1>;
		#size-cells = <0>;
		status = "okay";

		st7789v: st7789v@0 {
			compatible = "sitronix,st7789v";
			reg = <0>;
			mipi-max-frequency = <8000000>;
			width = <320>;
			height = <240>;
			x-offset = <0>;
			y-offset = <0>;
			vcom = <0x2b>;
			gctrl = <0x35>;
			vrhs = <0x0f>;
			vdvs = <0x20>;
			mdac = <0xa0>;
			gamma = <0x01>;
			colmod = <0x05>;
			lcm = <0x2c>;
			porch-param = [0c 0c 00 33 33];
			cmd2en-param = [5a 69 02 01];
			pwctrl1-param = [52 a1];
			pvgam-param = [d0 00 02 07 0b 1a 31 54 40 29 12 12 12 17];
			nvgam-param = [d0 00 02 07 05 15 2d 44 44 1c 18 16 1c 1d];
			ram-param = [00 f8];
			rgb-param = [cd 08 14];
			mipi-mode = "MIPI_DBI_MODE_SPI_4WIRE";
			status = "okay";
		};
	};
};

&spi2 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	pinctrl-0 = <&spi2_default>;
	pinctrl-1 = <&spi2_sleep>;
	pinctrl-names = "default", "sleep";

	led_strip: ws2812@0 {
		compatible = "worldsemi,ws2812-spi";
		reg = <0>;
		spi-max-frequency = <4000000>;
		chain-length = <24>;
		color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
		spi-one-frame = <0x70>;
		spi-zero-frame = <0x40>;
	};
};
